@media screen and (max-width: 420px) {

    /*  general */
body{
     margin: 0;
 }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }

    img{
        height: 100px;
    }

    /* lezioni */
    #lezioni, #why {
        background-color: #F2F2CD;
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    hr{
        background-color: black;
    }


}